<h1>Listing wizards</h1>

<table>
  <tr>
    <th>Field1</th>
    <th>Field2</th>
    <th>Field3</th>
    <th>Field4</th>
    <th>Field5</th>
    <th>Field6</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wizards.each do |wizard| %>
  <tr>
    <td><%= wizard.field1 %></td>
    <td><%= wizard.field2 %></td>
    <td><%= wizard.field3 %></td>
    <td><%= wizard.field4 %></td>
    <td><%= wizard.field5 %></td>
    <td><%= wizard.field6 %></td>
    <td><%= link_to 'Show', wizard %></td>
    <td><%= link_to 'Edit', edit_wizard_path(wizard) %></td>
    <td><%= link_to 'Destroy', wizard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wizard', new_wizard_path %>
