<p id="notice"><%= notice %></p>

<p>
  <b>Field1:</b>
  <%= @wizard.field1 %>
</p>

<p>
  <b>Field2:</b>
  <%= @wizard.field2 %>
</p>

<p>
  <b>Field3:</b>
  <%= @wizard.field3 %>
</p>

<p>
  <b>Field4:</b>
  <%= @wizard.field4 %>
</p>

<p>
  <b>Field5:</b>
  <%= @wizard.field5 %>
</p>

<p>
  <b>Field6:</b>
  <%= @wizard.field6 %>
</p>


<%= link_to 'Edit', edit_wizard_path(@wizard) %> |
<%= link_to 'Back', wizards_path %>
